@model MVC_05_02.Models.Mark

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mark</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentRollNumNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentRollNumNavigation.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
